<div class="post-list">
    <div>
        <div class="col">
            <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
        </div>
        <div class="col">
            <button class="btn btn-danger" data-id="{{post.id}}">DELETE</button>
        </div>
    </div>
</div>