<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column">
    <header class="display-flex align-center p-2">
      <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
        <h1> The Tech Blog </h1>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{#if posts.length}}
<div class="col">
    <h3>Your Posts:</h3>

    {{#each posts as |post|}}
    <div class="post-list">
        <div class="row mb post-list">
            <div class="col">
                <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
            </div>
            <div class="col">
                <button class="btn btn-danger" data-id="{{post.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<button type="submit"><a href="/posts">+ New Post</a></button>
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>





<script src="./js/dashboard.js"></script>

