<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt">

  {{#if posts.length}}
  <div class="col">
    <h3>Your Posts:</h3>

    {{#each posts as |post|}}
    <div class="post-list">
    <div class="row mb post-list">
      <div class="col">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col">
        <button class="btn btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<button type="submit"><a href="/dashboard/new">+ New Post</a></button>

<script src="./js/dashboard.js"></script>
