<h2>Your Posts</h2>
{{#if posts.length}}
<div>
    {{#each posts as |post|}}

    {{> postData post}}

    <a href="/dashboard/edit/{{post.id}}"><button>Edit Post</button></a>

    {{/each}}

    {{else}}
    <h3>No Posts</h3>
</div>
{{/if}}

<a href="/dashboard/create/"><button id="create-post">+ New Post</button></a>

<script src="/js/editPost.js"></script>