 {{#if logged_in}}
<form class='form comment-form'>
  <div class='form-group'>
    <label for='comment-add'> Comment: </label>
    <input class='form-input' type='text' id='comment-add' />
  </div>

  <div class='form-group'>
    <button class='btn btn-primary' type='submit'>  Add Comment! </button>
  </div>
</form>
 {{else}}
 <a href="/login">Login</a>
  {{/if}}