{{> postData post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <input id="comment-body" name="comment-body" placeholder="Comment here" />
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>

</form>
{{/if}}

{{> commentData post.comments}}

{{#if loggedIn}}
<script src="/js/newComment.js"></script>
{{/if}}