{{> postData post}}

{{> commentData post.comments}}

{{#if loggedIn}}
<div class="card border-dark">
  <form class="comment-form">
    <div>
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit">Add Comment</button>
    </div>
  </form>
</div>
{{/if}}

{{#if loggedIn}}
<script src="/js/newComment.js"></script>
{{/if}}