<a href="/dashboard">Go back</a>

<h2>New Post:</h2>

<form class="new-post-form">
  <div>
    <label for="post-title">Title:</label>
    <input class="input" type="text" id="post-title" name="post-title" placeholder="insert title here" />
  </div>
  <div>
    <label for="post-content">Content:</label>
    <input class="textarea is-large" id="post-content" name="post-content" placeholder="insert content here" />
  </div>
  <button type="submit">+ New Post</button>
</form>


<script src="/js/newPost.js"></script>