
header, .post:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

a, p, h1, h2, h3 {
  padding: 10px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

nav {
  background-color: saddlebrown;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: baseline;
}

.navbar-links {
  align-self: baseline;
  margin: 10px;
}

header h1 {
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  color: white;
  margin: 10px;
}

.card {
  margin: 30px;
}

.comment-card {
  padding: 20px;
}

.card-header {
  display:flex;
  flex-direction: row;
}

.login-form > *, .signup-form > * {
  padding: 10px;
}